.feed-container {
    z-index: 1;
    margin: auto;
    padding: 1rem;
}

.feed-list {
    width: 100%;
    max-width: 1600px;
    /* Prevent it from getting too wide on huge screens */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.feed-text {
    text-align: left;
    line-height: 1.6;
    color: var(--color-white);
}

.banner-container {
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feed-banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center 5%;
    /* Move focus slightly up */
    display: block;
    image-rendering: -webkit-optimize-contrast;
    filter: grayscale(25%);
    /* Try to improve sharpness */
}

.breadcrumbs {
    color: #aaa;
    font-size: 0.9rem;
}

.breadcrumbs-home {
    cursor: pointer;
}

.breadcrumbs-category {
    text-transform: capitalize;
}