.profile-card {
    max-width: 80%;
    margin: auto;
    overflow: hidden;
    color: var(--color-off-white);
    text-align: left;
    border: none;
}

.profile-main-image {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    display: block;
}

.carousel-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.carousel-container {
    position: relative;
}

.carousel-main-image-container {
    position: relative;
    margin-bottom: 1rem;
}

.carousel-main-image {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-lighter-blue);
    color: var(--color-white);
    border: none;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    transition: background-color 0.25s, color 0.25s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-button:hover {
    background-color: var(--color-deep-blue);
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-thumbnails {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.carousel-thumbnail {
    width: 80px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s, opacity 0.3s;
}

.carousel-thumbnail:hover {
    opacity: 0.8;
}

/* .carousel-thumbnail.active {
border-color: var(--color-lighter-blue); Active thumbnail border color */
/* } */