.search-container {
    display: flex;
    width: 100%;
}

.search-input {
    flex: 1;
    /* Take up remaining space */
    min-width: 0;
    /* Prevent overflow */
    padding: 0.6em;
    font-size: 0.9em;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--color-white);
}

.search-input:focus {
    outline: none;
    border-color: var(--color-lighter-blue);
    background-color: rgba(0, 0, 0, 0.4);
}



@media (prefers-color-scheme: light) {
    .search-input {
        background-color: #f9f9f9;
        color: #213547;
    }
}